.main .contenido {
    display: flex;
    flex-direction: column;
    background-color: #e6e6e6;
    border-radius: 20px;
    padding: 40px;
    overflow: auto;
    justify-content: center;
    color: #747474;
}

.container-both .contenido-imagen{
    text-align: center;
}


.main {
    display: flex;
    padding: 1rem;
    height: calc(100vh - 55px);
}

.btn-hover.btn-inicio {
    background-image: linear-gradient(to right, #ed6ea0, #ec8c69, #f7186a, #FBB03B);
    box-shadow: 0 4px 15px 0 rgb(236 116 149 / 75%);
}

.btn-hover {
    width: 100%;
    font-size: 16px;
    font-weight: 600;
    color: #fff;
    cursor: pointer;
    text-align: center;
    padding: 16px 31px;
    border: none;
    background-size: 300% 100%;
    border-radius: 50px;
    -moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

/* Tablet y Responsive */
@media (max-width: 993px) {
    .main{
        height: calc(100vh - 115px);
    }
    .main .contenido{
        padding: 20px;
    }

    .container-both {
        display: flex;
        flex-direction: column-reverse;
    }
}

/* Moviles */
@media (max-width: 320px) {
    .container-both .contenido-imagen > img{
        max-width: 260px!important;
        margin-top: 16rem!important;
    }
    
}

@media (max-width: 414px) {
    .container-both .contenido-imagen > img{
        max-width: 260px!important;
        margin-top: 6rem;
    }
    
}
@media (max-width: 430px) {
    .container-both .contenido-imagen > img{
        max-width: 360px;
    }
    
}

@media(min-width: 431px) and (max-width: 560px) {
    .container-both .contenido-imagen > img{
        max-width: 400px;
    }
    
}

@media(min-width: 1024px) {
    .container-both{
        align-items: center;

    }
    .container-both .contenido-imagen > img{
        max-width: 400px;
    }
    
}

@media(min-width: 1440px) {
    .container-both .contenido-imagen > img{
        max-width: 600px;
    }
    
}
    