
.nosotros-container {
  overflow: auto;
  position: relative;
  color: #747474;
  height: calc(100vh - 55px);

}

.nosotros-container .nosotros-referencia {
  height: 200px;
  display: flex;
  align-items: center;
}

.nosotros-container .nosotros-contenido {
  background-color: #e6e6e6;  
  height: auto;
  padding: 2rem;
  margin: .2rem;
  border-radius: 20px;
}
/* .nosotros-contenido .nosotros-containerA > h1{
  margin: 0;
} */
.nosotros-contenido .nosotros-containerB img {
  position: absolute;
  height: 200px;
  object-fit: cover;
  border-radius: 20px;
  top: 46px;
  right: 33px;
  width: 45%;
}

.nosotros-contenido .nosotros-containerB > h3{
  margin: 0.87em 0 0.87em 0;
}

.nosotros-contenido p {
  text-align: justify;
  line-height: 32px;
}

/**************** Para Tablet **********************/
@media (max-width: 991px) {

  .nosotros-contenido .nosotros-containerB img {
    top: 92px;
    height: 143px;
  }
  .nosotros-container {
    height: calc(100vh - 115px);
}
}

/**************** Para Moviles **********************/

@media (max-width: 430px) {
  .nosotros-container{
    height: calc(100vh - 115px);
  }

  .nosotros-container .nosotros-referencia{
    height: 100px;
  }

  .nosotros-contenido .nosotros-containerB img {
    top: 9px;
    height: 120px;
    width: 60%;
    right: 33px;
  }



}
