@import "./Global/cdn.css";
@import "./Global/normalize.css";
@import "./header.css";
@import "./footer.css";
@import "./pages/inicio.css";
@import "./pages/nosotros.css";
@import "./pages/productos.css";
@import "./pages/blog.css";
@import "./pages/contacto.css";
@import "./animaciones.css";

* {
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
  color: #747474;
  font-family: "Inter", sans-serif;
  overflow: hidden;
}
